<p-toast *ngIf="!templateComponent"  key="{{name}}" (onClose)="trigger(TriggerType.ComponentClosed,$event)">
</p-toast>
<p-toast *ngIf="templateComponent" key="{{name}}" (onClose)="trigger(TriggerType.ComponentClosed,$event)">
  <ng-template  let-message pTemplate="message">
    <m-anchor [data]="message" [component]="templateComponent"></m-anchor>
  </ng-template>
</p-toast>
<!---->
<!--
  <ng-template [ngIf]="getPropValue(PropertyName.templateComponent)" let-message pTemplate="message">
    <m-anchor [data]="message" [component]="getPropValue(PropertyName.templateComponent)"></m-anchor>
  </ng-template>
-->
